<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8"/>
    <title>体彩</title>
    
    <script src="../static/js/component/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="../static/js/business/welfare.js" type="text/javascript"></script>
    <link href="../static/css/model.css" rel="stylesheet">
</head>
<body>
<h2>最新一期中奖号码：</h2>
<div id="lotteryRecord">
    <span name="newestRecord"></span>
</div>
<div>
    <button class="btn" onclick="insertHistoryRecord()" type="button">更新</button>
    <button class="btn" onclick="queryNewestRecord()" type="button">查询</button>
</div>
</body>
</html>